#root {
    margin: 0 auto;
}

.container {
    width: 90vw;
    text-align: center;

}

.action-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-container .MuiTextField-root {
    margin-right: 20px;
}