:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: url('./assets/bg.gif');
  /* Add your background image here */
  background-size: cover;
  /* This will make the image cover the entire background */
  background-position: center;
  /* This will center the image */
  background-repeat: no-repeat;
  /* This will prevent the image from repeating */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
  display: flex;
  min-width: 320px;
  min-height: 95vh;
  
  background-color: rgba(192, 192, 192, 0.7);
  backdrop-filter: blur(21px) saturate(200%);
  -webkit-backdrop-filter: blur(21px) saturate(200%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}